<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.molice.oneingdufs"
    android:versionCode="24"
    android:versionName="0.90" >

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/gdufsTheme">
        <activity
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:alwaysRetainTaskState="true"
            android:name=".activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 注册 -->
        <activity
            android:name=".activities.RegisterActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
            android:name=".activities.LoginActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- 在校学习 Study -->
            <!-- 我的课表 -->
        <activity
            android:name=".activities.StudySyllabusActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        
        <!-- 校园生活 Life  -->
            <!-- 校园生活-订水 -->
        <activity
            android:name=".activities.LifeWaterActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 校园生活-报修 -->
        <activity
            android:name=".activities.LifeFixActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 校园生活-校园卡 -->
        <activity
            android:name=".activities.LifeCardActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 校园生活-后勤留言 -->
        <activity
            android:name=".activities.LifeGdufsLifeActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- 公共消息 Common -->
            <!-- 校历 -->
        <activity
            android:name=".activities.CommonCalendarActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 失物招领 -->
        <activity
            android:name=".activities.CommonLostActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"></activity>
        
        <!-- 个人中心 UserHome -->
        <activity
            android:name=".activities.UserHomeActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 个人中心-我的资料 -->
        <activity
            android:name=".activities.UserInfoActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 个人中心-宿舍住址 -->
        <activity
            android:name=".activities.UserRoomAddressActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- 关于 -->
        <activity
            android:name=".activities.AboutActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- 设置 -->
        <activity
            android:name=".activities.SettingsActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        <!-- 个人消息 -->
            <!-- 消息列表 -->
        <activity
            android:name=".activities.MessageActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 发送消息 -->
        <activity
            android:name=".activities.MessageSendActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
            <!-- 查看消息详情 -->
        <activity
            android:name=".activities.MessageDetailActivity"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"/>
        
        <!-- AndroidPN Service -->
        <service
            android:enabled="true"
            android:name=".androidpn.NotificationService"
            android:label="消息推送服务">
            <intent-filter>
                <!-- 和NotificationService.SERVICE_NAME保持一致 -->
                <action android:name="com.molice.oneingdufs.androidpn.NotificationService" />
            </intent-filter>
        </service>
    </application>
    
    <uses-sdk android:minSdkVersion="7" />
    <!-- 添加网络访问、手机状态、网络状态、振动权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

</manifest>